NEXT_PUBLIC_SUPABASE_URL=https://qdxppyfyewhxxrzjcfqv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkeHBweWZ5ZXdoeHhyempjZnF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNTEwMjIsImV4cCI6MjA4ODkyNzAyMn0.Xvo25l1WUOAq3XYLJ3uAQw0WCa7keTa_GkL9sDkD3ZM
